
.gallery{
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}
.gallery__item{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 85%;
gap: 2rem;
margin:2rem auto;
text-align: center;
img{
    max-width: 45%;
    &:hover{
        opacity: 0.7;
    }
}
a{
    margin: auto;
}
}
.gallery__text{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    padding: 2rem;
    cursor: default;
    p{
        color: $text-gray;
    }
}

.gallery__title{
    margin: 2rem auto;
    font-size: 20px;
    margin: 0 auto 0 auto ;
    text-transform: uppercase;
    cursor: default;
    &:hover{
        color: $red;
    }
}
@media screen and (max-width: $tablet-width){
    .gallery{
        width: 100%;
        padding: 0;
    }
    .gallery__item{
        width: 90%;
    }
}
@media screen and (max-width: $mobile-width){
.gallery{
    display: none;
}
}