

$red: #D26E4B;
$orange : #F39200;
$back-gray :#373737;
$back-light-gray :#373737f1;
$back-light-gray2 :#333333;
$back-dark-gray :  #212121;
$text-light-gray : #EFEFEF;
$text-gray : #C8C8C8;


// Viewports

$mobile-width: 480px;
$tablet-width: 810px;
$desktop-width: 1024px;
