.footer{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem 0;
    background-color: $back-dark-gray;
}
.privacy-link{
   margin: auto;
    color: $text-dark-gray;
    cursor: pointer;
}
.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.footer__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
     margin-right: 10rem;
    justify-content: flex-end;
    a{
        color: $text-dark-gray;
        &:hover{
            color: $red;
        }
    }
}

@media screen and (max-width: $tablet-width){
.footer__nav{
    gap: 2rem;
     margin-right: 0;
    justify-content: center;
    padding-bottom: 1rem;
}
}

@media screen and (max-width: $mobile-width){
    .footer{
        padding: 3rem 0;
        gap: 1.5rem;
    }
    .footer__links{
        gap: 1rem;
    }
}